body {
    background: white url("images/background3.jpg");
		letter-spacing: .25px;
    font-family: "Times New Roman", Times, serif;
}

h2{
	color: white;
	font-size: 5.5em;
}

.panel .well .thumbnail{
	background-color: #f5f5dc;
}

#button-row{
	padding: 10px 0px 15px 0px;
}

#viz{
	margin: 10px 0px 15px 0px;
}

#visualisation{
	background-color:red;
}
