{% extends "dictionary/base.html " %}


{% block title %}Add a New Definition{% endblock title %}

{% block style %} 
<style>
	body{
		margin: 30px 10px 10px 10px;
		
		{% load static %}

		background: white url("{%  static 'dictionary/images/background2.jpg' %}");
	}
</style>
{% endblock style %}

{% block content %}
    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Definition</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'dictionary/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                            <div class="col-sm-5">
                                <button type="button" class="btn btn-primary" onclick='location.href="{% url 'dictionary:home' %}";'>Home</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is NASApedia?</h3>
                    <p>NASApedia is a wikipedia-like page for space terminology</p>
                    <h3>How do I add a definition?</h3>
                    <p>First, create a new definition by filling out the form on this page. Once an definiton is created you will be able to search for it.</p>
                    <h3>What are some word picture best practices?</h3>
                    <ul>
                        <li>Have a resolution of 512x512</li>
                        <li>Use common image formats such as .JPG, .GIF, or .PNG</li>
                        <li>Remain under the 2MB limit.</li>
                        <li>Square images look best</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}


