<!DOCTYPE html>
<html>
<head>
	<title>Dictionary</title>
</head>

<body>
<h2>Welcome to the dictionary!</h2>

<p><a href = "{% url 'index' %}">Back to Home Page</a></p>

<p>Features to be added in:</p>

<ul>
	<li>Way to add entries (new terms)</li>
</ul>

<form method='GET' action=''>
	<input type='text' name='q' placeholder='Type an acronym or word here' value='{{ request.GET.q }}'/>
	<input type='submit' value='Search' />
</form>

<h3>Here are the current fields</h3>

<table>
	<tr>
		<th>Acronym</th>
		<th>Meaning</th>
	</tr>

{% for word in word_list %}
  <tr>
  	<td>{{word.acronym}}</td>
  	<td>{{word.meaning}}</td>
  </tr>
{% endfor %}

</table>

</body>
</html>